/*
	Resets and global styles because reset.css won't load for some reason...
*/
@font-face {
	font-family: oriental;
	src: url('SEVESBRG.TTF');
}

* {
	margin: 0;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #e74c3c; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

html, body {
    min-width: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #eee;
    margin: 0px;
    padding: 0px;
}

/*
	Styles the div containing the ng-view 
*/
.appWrapper {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}
